trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  # 1. Checkout the repo
  - checkout: self

  # 2. Publish Test.txt as artifact
  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: 'Test.txt'
      artifactName: 'TestArtifact'
      publishLocation: 'Container'
    displayName: 'Publish Test.txt'

  # 3. Publish hello.txt as artifact
  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: 'hello.txt'
      artifactName: 'HelloArtifact'
      publishLocation: 'Container'
    displayName: 'Publish hello.txt'