trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - checkout: self

  - script: |
      mkdir -p $(Build.ArtifactStagingDirectory)/artifact1
      echo "This is artifact 1" > $(Build.ArtifactStagingDirectory)/artifact1/file1.txt
    displayName: 'Build Artifact 1'

  - script: |
      mkdir -p $(Build.ArtifactStagingDirectory)/artifact2
      echo "This is artifact 2" > $(Build.ArtifactStagingDirectory)/artifact2/file2.txt
    displayName: 'Build Artifact 2'

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory)/artifact1'
      artifactName: 'artifact1'
      publishLocation: 'Container'

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory)/artifact2'
      artifactName: 'artifact2'
      publishLocation: 'Container'
