trigger:
  - main   # Runs on push to main branch

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: Checkout@1

  - script: |
      mkdir -p $(Build.ArtifactStagingDirectory)/artifact1
      echo "This is artifact 1" > $(Build.ArtifactStagingDirectory)/artifact1/file1.txt
    displayName: 'Build Artifact 1'

  - script: |
      mkdir -p $(Build.ArtifactStagingDirectory)/artifact2
      echo "This is artifact 2" > $(Build.ArtifactStagingDirectory)/artifact2/file2.txt
    displayName: 'Build Artifact 2'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/artifact1'
      ArtifactName: 'artifact1'
      publishLocation: 'Container'